.container {
  padding-inline: 16px;
  gap: 16px;
  align-items: center;
  padding-top: 8px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.darkmodeIcon {
  font-size: 18px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  cursor: pointer;
}

.logo img {
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
  width: var(--tam-icon);
  height: var(--tam-icon);

  transition: box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.logo img:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
