@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --white: #ffffff;
  --black: #000000;
  --success: #4d7c0f;
  --background: #f3f4f6;
  --primary: #e81f37;
  --text: #1f2937;
  --contrast-text: #ffffff;
  --dark-text: #000000;
  --light-text: #4c5563;
  --error: #b91c1c;
  --border: #6b7280;
  --switch-background: #9ca3af;
  --switch-slider: #ffffff;
  --modal-background: hsla(0, 0%, 100%, 0.7);
  --version: #808080;
  --invert-text: #1f2937;
  --tam-icon: 64px;
}

.darkmode {
  --white: #ffffff;
  --black: #000000;
  --success: #a3e534;
  --background: #1b2437;
  --primary: #e81c35;
  --text: #ffffff;
  --contrast-text: #ffffff;
  --dark-text: #e5e7eb;
  --light-text: #9ca3af;
  --error: #ef4444;
  --border: #9ca3af;
  --switch-background: #e5e7eb;
  --switch-slider: #111827;
  --modal-background: hsla(0, 0%, 0%, 0.7);
  --version: #bdc0c6;
  --invert-text: #1f2937;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Rubik, sans-serif;
  color: var(--text);
  font-size: 16px;
  background-color: var(--background);
  line-height: 1.5;
}

a {
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
